.applicationForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.inputContainer {
  color: black;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inputContainer input,
.inputContainer textarea {
  padding: 5px;
}

.formHeader {
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.optionsContainer {
  display: flex;
  gap: 10px;
}

.optionContainer {
  display: flex;
  gap: 5px;
}

.formHeaderMenu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.employmentHistoryContainer {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
}
.fileLoader {
  color: black;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.fileLoaderHeader {
  font-weight: 700;
  font-size: 14px;
}

.fileLoaderTextMain {
  font-weight: 700;
  font-size: 12px;
}

.fileLoaderText {
  font-size: 12px;
}

.fileLoaderTextContainer {
  display: flex;
  gap: 10px;
}
.buttonsContainer {
  display: flex;
  gap: 15px;
}
