.menuPoint {
  width: 100%;
  padding: 15px;
  cursor: pointer;
  border-bottom: 1px solid gray;
  font-size: 20px;
  font-weight: bold;
}

.menuPoint:hover {
  background-color: antiquewhite;
}

.menuPoint-highlighted {
  background-color: antiquewhite;
}

.classicButton {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  width: fit-content;
  color: gray;
}

.classicButton:hover {
  background-color: antiquewhite;
}

.iconButton {
  color: #323232;
  border-radius: 50%;
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconButton:hover {
  background-color: #e1e1e1;
}
