.menuPoint {
  width: 100%;
  padding: 15px;
  cursor: pointer;
  border-bottom: 1px solid gray;
  font-size: 20px;
  font-weight: bold;
}

.menuPoint:hover {
  background-color: antiquewhite;
}

.menuPoint-highlighted {
  background-color: antiquewhite;
}

.classicButton {
  border: 2px solid gray;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  width: fit-content;
}

.classicButton:hover {
  background-color: antiquewhite;
}

.iconButton {
  color: #000;
}
.iconButton:hover {
  color: #323232;
}
